body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* customizations */

div.navbar-inverse {
	background-color: #006;
}

.navbar-inverse .navbar-header > a {
	color: #ccc;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ccc;
}

.container div.jumbotron {
	background-color: #bbf;
	border-radius:10px;
}

div.jumbotron > h1 {
	font-size:40px;
	color: #333;
}

@media screen and (min-width:768px) {
	div.jumbotron {
		padding-top: 6px;
		padding-bottom: 13px;
	}
}
